html,body{
	font-size: 20px;
	color: #7f7f7f;
	font-family: "宋体";
}
 
 @font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1477365756'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1477365756#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1477365756') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1477365756') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1477365756#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.header .navbar-default{
	background: transparent;
	border: none;
	overflow: hidden;
}
.header .navbar-nav {
    float: right;
    color: white;
}
.header .navbar-default .navbar-nav > li > a{
	color: white;
}
.header .navbar-default .navbar-nav > .active > a{
	background-color: transparent;
	color: #fff; 
	/*border-bottom: 3px solid red;*/

}
.header .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	border-bottom: 3px solid red;
}

.text_body .container .text_title{
	margin-top: 90px;
	margin-bottom: 60px;
}
.text_body .container .text_title h1{
	height: 80px;

}
.text_body .jumbotron {
	padding-top: 10px; 
     padding-bottom: 0px; 
     margin-bottom: 0px; 
}
.text_body .jumbotron,.text_body .media {   
     margin-bottom: 80px; 
     background-color: transparent; 
}
.text_body .container .jumbotron, .container-fluid .jumbotron {     
     padding-left: 0px; 
     padding-right: 0px;
}
.padding_right{
	padding-right: 30px !important; 
}
/*.text_body .container .media .media-middle i{
	background: #ccc;
	height: 50px;
	width: 50px;
	display: block;
}*/

.border_blue{
	border:2px solid #6173f4;
	border-radius: inherit !important;
	position: relative;
}
.service{
	position: absolute;
	display: block;
	width: 90px;
	height: 45px;
	top: -22.5px;
	left:50%;
	margin-left: -45px;
	background: #6173f4;
	border-radius: 5px;
	line-height: 45px;
	color: white;
	font-size: 22px;
	z-index: 2;
}
.service:after{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background: #6173f4;
	position: absolute;
	top: 32px;
	left:50%;
	margin-left: -10px;
	z-index: -1;
}
.text_body .container .jumbotron strong{
	margin-top: 30px;
	display: block;
}


.h2{
	width: 90px;
	height: 90px;
	border-radius: 50%;
    background-color: #2aaf67;
    display: inline-block;
}
.h2 .iconfont{
	font-size: 50px;
	line-height: 90px;
}
.font{
	font-size: 50px;
}
.font0 p{
	font-size: 0.9rem !important;
}
.font1{
	font-size: 1.5rem;
}
.font2 h4{
	font-size: 1.3rem !important;
}
.row .media .media-body p .iconfont{
	color: blue !important;
	font-size: 26px;
}
.row .media .media-body p{
	font-size: 0.9rem;
}
.row .media .media-body h2{
	margin-bottom: 20px;
}
.row .media .media-body .btn_margin{
	margin-top: 20px;
}
footer span{
	font-size: 14px;
	color:#333;
	margin-bottom: 10px;
	display: block;
}